html, body {
	background-color: #1F4214;
}


.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.station-container {
	background-color: #2C8ECA;
	display:inline-block;
	font-size: calc(12px + .5vw);
	border-radius: 0.2vw;
	padding: 0.20vw;
	margin: 0.2vw;
	border: 2px;
	border-style: solid;
	border-color: black;
}

.hovering {
    background-color: #BC015D;
}

.active {
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
}


.station-info {	
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.platform-container {
	display:block;
	padding: 0.20vw;
	font-size: calc(10px + .25vw);
}

.platform-info {
	display: flex;
	justify-content: space-between;
	color: black;
}

.platform-display {
	width: 15vw;
	height: 4vw;	
	min-width: 180px;	
	min-height: 60px;
	margin: 0.20vw;
	padding: 0.20vw;
	border-radius: 0.2vw;
	background-color: #0E0606;
	color: #EA0E0E;
  	display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
	
}